Table

In [17]:
i=1
while (i<11):
  print(2 * i)
  i += 1

2
4
6
8
10
12
14
16
18
20

Even Number

In [15]:
i=1
while (i<11):
  if (i % 2 == 0):
    print(i)
  i += 1

2
4
6
8
10

Prime number

In [16]:
num = 2
while num <= 10:
    i = 2
    is_prime = True
    while i < num:
        if num % i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print(num)
    num += 1

2
3
5
7

print Pattern 
* * * *         
* * *       
* *     
*

In [12]:
rows = 4
i = rows
while i >= 1:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i -= 1

* * * *
* * *
* *
*

range() function

For Loop

In [18]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for i  in range(1,10,2):
  print(i)

1
3
5
7
9

In [22]:
for i in range(10,1,-3):
  print(i)

10
7
4

In [24]:
dic = {
  1: 'ram',
  2: 'shyam',
  3: 'mohan',
  4: 'sita',
  5: 'gita'
}

In [25]:
for i in dic.items():
  print(i)

(1, 'ram')
(2, 'shyam')
(3, 'mohan')
(4, 'sita')
(5, 'gita')

In [26]:
for i in dic.keys():
  print(i)

1
2
3
4
5

In [28]:
for i in dic.values():
  print(i)

ram
shyam
mohan
sita
gita