In [15]:
import pandas as pd

In [16]:
dict = {
    "Product": ['Mobile', 'Tablet', 'Laptop', 'Desktop', 'Mobile', 'Tablet', 'Laptop', 'Desktop'],
    "Sales": [50000, 7000, 120000, 150000, 55000, 75000, 130000, 15500],
    "Year": [2020, 2020, 2020, 2020, 2021, 2021, 2021, 2022],
    }

In [17]:
df = pd.DataFrame(dict)

In [18]:
df

   Product   Sales  Year
0   Mobile   50000  2020
1   Tablet    7000  2020
2   Laptop  120000  2020
3  Desktop  150000  2020
4   Mobile   55000  2021
5   Tablet   75000  2021
6   Laptop  130000  2021
7  Desktop   15500  2022

In [24]:
df.pivot_table(index='Product', columns='Year', values='Sales', aggfunc='sum', fill_value=0)

Year       2020    2021   2022
Product
Desktop  150000       0  15500
Laptop   120000  130000      0
Mobile    50000   55000      0
Tablet     7000   75000      0

In [28]:
df.pivot_table(index='Product', columns='Year', values='Sales', aggfunc='min', fill_value=0)

Year       2020    2021   2022
Product
Desktop  150000       0  15500
Laptop   120000  130000      0
Mobile    50000   55000      0
Tablet     7000   75000      0

In [27]:
df.pivot_table(index='Product', columns='Year', values='Sales', aggfunc='max', fill_value=0)

Year       2020    2021   2022
Product
Desktop  150000       0  15500
Laptop   120000  130000      0
Mobile    50000   55000      0
Tablet     7000   75000      0

In [25]:
df.pivot_table(index='Product', columns='Year', values='Sales', aggfunc='mean', fill_value=0)

Year         2020      2021     2022
Product
Desktop  150000.0       0.0  15500.0
Laptop   120000.0  130000.0      0.0
Mobile    50000.0   55000.0      0.0
Tablet     7000.0   75000.0      0.0

In [26]:
df.pivot_table(index='Product', columns='Year', values='Sales', aggfunc='count', fill_value=0)

Year     2020  2021  2022
Product
Desktop     1     0     1
Laptop      1     1     0
Mobile      1     1     0
Tablet      1     1     0

In [36]:
df.to_csv('sales_data.csv')

In [37]:
df.to_json('sales_data.json')

In [40]:
df.to_excel('sales_data.xlsx')

In [41]:
df.to_html('sales_data.html')

In [43]:
df.to_feather('sales_data.feather')